<div *ngIf="isLoggedIn">
  <nz-layout>
    <nz-sider [nzTrigger]="null" nzWidth="256px">
      <app-sidebar></app-sidebar>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <app-header></app-header>
      </nz-header>
      <nz-content class="inner-content">
        <router-outlet></router-outlet>
      </nz-content>
      <nz-footer>
        © {{ currentYear }} <strong>threathuntersclub.tech</strong> - All rights
        reserved</nz-footer
      >
    </nz-layout>
  </nz-layout>
</div>

<div *ngIf="!isLoggedIn">
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
