.thc__testimonials {
  background-image: url("https://ik.imagekit.io/fq9vykvp2/v617batch2-bb-01-technology.jpg?updatedAt=1687023022297");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  /* object-fit: contain; */
  background-color: var(--color-footer);
}

.thc__testimonials-heading h2 {
  background: var(--gradient-text);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  line-height: 45px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
}
.thc__testimonials-center {
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  /* padding: 20px; */
}

.thc__testimonials-center video {
  height: 85%;
  width: 50%;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  display: block;
  margin: 0 auto;
}

.carouselInner video::-webkit-media-controls-fullscreen-button {
  display: none;
}

.thc__testimonials-container {
  height: 500px;
}

[nz-carousel-content] {
  height: 450px;
  overflow: hidden;
}
