<div class="thc__landingPage">
  <div class="thc__pricing-wrapper section__padding">
    <div class="thc__pricing-container">
      <div class="thc__pricing-left">
        <h2>Cyber Security</h2>
        <div class="thc__pricing-features">
          <ul>
            <h3>Features</h3>
            <li>
              <div class="tick">
                <span nz-icon nzType="check-circle" nzTheme="outline"></span>
              </div>
              <span>One-year membership of the club.</span>
            </li>
            <li>
              <div class="tick">
                <span nz-icon nzType="check-circle" nzTheme="outline"></span>
              </div>
              <span>Live Training Sessions and their recordings</span>
            </li>
            <li>
              <div class="tick">
                <span nz-icon nzType="check-circle" nzTheme="outline"></span>
              </div>
              <span>3+ Mock interviews.</span>
            </li>
            <li>
              <div class="tick">
                <span nz-icon nzType="check-circle" nzTheme="outline"></span>
              </div>
              <span>Online tech resources: docs, blogs, talks.</span>
            </li>
            <li>
              <div class="tick">
                <span nz-icon nzType="check-circle" nzTheme="outline"></span>
              </div>
              <span>Networking Opportunities</span>
            </li>
          </ul>
          <ul>
            <h3>What you learn?</h3>
            <li>
              <div class="tick">
                <span nz-icon nzType="check-circle" nzTheme="outline"></span>
              </div>
              <span>Basics of Networks and Cyber Security</span>
            </li>
            <li>
              <div class="tick">
                <span nz-icon nzType="check-circle" nzTheme="outline"></span>
              </div>
              <span>Advanced Network Security</span>
            </li>
            <li>
              <div class="tick">
                <span nz-icon nzType="check-circle" nzTheme="outline"></span>
              </div>
              <span>Security Operations</span>
            </li>
            <li>
              <div class="tick">
                <span nz-icon nzType="check-circle" nzTheme="outline"></span>
              </div>
              <span>Incident Response</span>
            </li>
            <li>
              <div class="tick">
                <span nz-icon nzType="check-circle" nzTheme="outline"></span>
              </div>
              <span>Malware Analysis</span>
            </li>
            <li>
              <div class="tick">
                <span nz-icon nzType="check-circle" nzTheme="outline"></span>
              </div>
              <span>Network Pentesting</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="thc__pricing-right">
        <div class="thc__pricing-salescard">
          <div class="thc__pricing-info">
            <div class="thc__pricing-thumbnail">
              <video
                src="https://ik.imagekit.io/fq9vykvp2/course_thumbnail.mp4?updatedAt=1683559781117"
                autoPlay="{true}"
              ></video>
            </div>
            <div class="thc__pricing-details">
              <div class="thc__pricing-details__container">
                <div class="actual-price">
                  <span class="price">10,000/-</span>
                </div>
                <span class="discount">50%</span>
                <div class="discount-price">
                  <span class="price">4,999/-</span>
                </div>
              </div>
            </div>
            <div class="thc__pricing-links">
              <!-- <a routerLink="/purchase" class="thc__pricing-joinus">
                PROCEED TO BUY
              </a> -->
              <a routerLink="/login" class="thc__pricing-joinus">
                LOGIN TO PURCHASE
              </a>
              <a routerLink="/course-details" class="thc__pricing-timeline">
                COURSE TIMELINE
              </a>
            </div>
            <div class="thc__pricing-info__footer">
              <h2>What you get</h2>
              <ol>
                <li>3 months of live course</li>
                <li>Online Accessibility</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="marquee-wrapper">
      <!-- <Slider /> -->
    </div>
  </div>
</div>
