<div class="thc__possibility section__padding thc__landingPage">
  <div class="thc__possibility-img">
    <picture>
      <source
        srcSet="https://ik.imagekit.io/fq9vykvp2/BGIMAGES/emp-removebg.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1677700039756"
        type="image/webp"
        alt="possibility"
      />
      <img src="image.jpg" loading="lazy" alt="possibility" />
    </picture>
  </div>
  <div class="thc__possibility-content">
    <h3>Empowerment.</h3>
    <h2>
      Enhancing members' knowledge and skills in identifying, analyzing, and
      mitigating cyber threats.
    </h2>
  </div>
</div>
