<div class="thc__footer section__padding">
  <div class="thc__footer-heading">
    <h3 class="gradient__text">Hunt.Kill.Quarantine</h3>
  </div>
  <div class="thc__footer-links">
    <a routerLink="/">
      <div class="thc__footer-links_logo">
        <img src="../../../../assets/earth.png" alt="logo" />
        <div class="thc__footer-links_brand">
          <p>THREAT</p>
          <p>HUNTERS</p>
        </div>
      </div>
    </a>
    <div class="thc__footer-links_div">
      <h3>Get in touch</h3>
      <ul>
        <li>
          <a
            href="https://www.instagram.com/threat_hunters_club/"
            target="_blank"
            aria-label="instagram"
          >
            <span nz-icon nzType="instagram" nzTheme="outline"></span>
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/company/threat-hunters/"
            target="_blank"
            aria-label="linkedin"
          >
            <span nz-icon nzType="linkedin" nzTheme="outline"></span>
          </a>
        </li>
        <li>
          <a
            href="https://twitter.com/hunters_threat"
            target="_blank"
            aria-label="twitter"
          >
            <span nz-icon nzType="twitter" nzTheme="outline"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="thc__footer-copywrite">
    <ul>
      <li>
        <a routerLink="/">Code of Conduct</a>
      </li>
      <li>
        <a routerLink="/">Privacy and Policy</a>
      </li>
      <li>
        <a routerLink="/">Refund Policy</a>
      </li>
      <li>
        <a routerLink="/">Terms & Conditions</a>
      </li>
    </ul>
    <p>Developed by team at Threat Hunters Club</p>
  </div>
  <p class="right">
    © {{ currentYear }} <strong>threathuntersclub.tech</strong> - All rights
    reserved
  </p>
</div>
