<div class="thc__landingPage section__padding">
  <div class="thc__whatCyberSec" id="whatCyberSec">
    <div class="thc__whatCyberSec-feature">
      <div class="thc__features-container_feature">
        <div class="thc__features-container_feature-title">
          <div></div>
          <h3>What is Cyber Security</h3>
        </div>
        <div class="thc__features-container_feature-text">
          <p>
            Cyber security is the practice of protecting computers, networks,
            and digital information from theft, damage, or unauthorized access.
            It involves implementing various measures and technologies to
            prevent cyber attacks and protect sensitive data.
          </p>
        </div>
      </div>
    </div>
    <div class="thc__whatCyberSec-heading">
      <h2>
        DISCOVER YOUR PASSION, EXPAND YOUR HORIZONS
      </h2>
      <p>VISION</p>
    </div>
    <div class="thc__whatCyberSec-features_container">
      <div class="thc__features-container_feature">
        <div class="thc__features-container_feature-title">
          <div></div>
          <h3>Passion</h3>
        </div>
        <div class="thc__features-container_feature-text">
          <p>
            To allow the students to follow their passion towards Cybersecurity.
          </p>
        </div>
      </div>
      <div class="thc__features-container_feature">
        <div class="thc__features-container_feature-title">
          <div></div>
          <h3>Community</h3>
        </div>
        <div class="thc__features-container_feature-text">
          <p>
            It helps one build community: Getting involved helps one discover
            with similar interests in technology.
          </p>
        </div>
      </div>
      <div class="thc__features-container_feature">
        <div class="thc__features-container_feature-title">
          <div></div>
          <h3>Career</h3>
        </div>
        <div class="thc__features-container_feature-text">
          <p>
            As a result of involvement, one will gain knowledge, experience and
            further career aspects
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
